﻿@model DBL.Entities.Systempermissions
<div class="modal-header">
    <h5 class="text-sm modal-title" id="SocialPesaModalLabel">Permission Data</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <input class="form-control form-control-sm" asp-for="PermissionId" id="Systempermissionid" hidden />
    </div>
    <div class="row">
        <div class="col-sm-7">
            <div class="form-group">
                <label class="font-weight-light">Permission Name</label>
                <input class="form-control form-control-sm" asp-for="Permissionname" id="Systempermissionnameid" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="font-weight-light">Module Name</label>
                <input class="form-control form-control-sm" asp-for="Module" id="SystempermissionModulenameid" />
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label class="font-weight-light">Admin?</label>
                <input class="form-control form-control-sm" asp-for="Isadmin" type="checkbox" id="Systempermissionisadminid" />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
    <button class="btn btn-sm btn-info font-weight-bold" type="button" id="saveUpdateSystemPermissions" onclick="Savesystempermissiondetails();">
        <span id="buttonText">SAVE</span><span id="processingSpinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
    </button>
</div>