@model DBL.Entities.Propertyhouseroomtenant
<div class="modal-header">
    <h5 class="text-sm modal-title" id="Uttambsolutionsmodallabel">Tenant Details</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <input class="form-control form-control-sm" asp-for="Houseroomid" id="Houseroomid" hidden/>
    </div>
    <div class="row">
        <div class="input-group">
            <input type="number" class="form-control form-control-sm" id="Systemstaffidnumberid" placeholder="Enter id number to search" aria-label="Idnumbersearch" />
            <div class="input-group-append">
                <button class="btn btn-sm btn-secondary" onclick="searchsystemstaffdata()">Search</button>
            </div>
        </div>
        <div id="searchResults" class="d-none">
        </div>
    </div>
</div>
<div class="modal-footer d-none" id="searchResults">
    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
    <button class="btn btn-sm btn-info font-weight-bold" type="button" id="savesystemroleid" onclick="savesystemroledata();">
        <span id="buttonText">SAVE</span><span id="processingSpinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
    </button>
</div>
