@model DBL.Models.UsermodeldataResponce
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Visitingmodule</title>
</head>
<body>
</body>
</html>
