@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>




<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2850934153859537"
     data-ad-slot="1149686671"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script> 
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-2850934153859537"
     data-ad-slot="8445437350"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-2850934153859537"
     data-ad-slot="8445437350"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-6b+by+d-1s+li"
     data-ad-client="ca-pub-2850934153859537"
     data-ad-slot="1596995960"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>