@model DBL.Entities.Tokenization.Tokenpurchase
@{
    var Systemtokens = ViewData["Systemtokenslists"] as List<SelectListItem>;
}
<div class="modal-header">
    <h5 class="text-sm modal-title" id="Uttambsolutionsmodallabel">Share Detail</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <input asp-for="@Model.Tokenpurchaseid" id="Tokenpurchaseid" hidden />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label class="font-weight-light">Token</label>
                <select class="form-control form-control-sm" asp-for="@Model.Tokenid" asp-items="@Systemtokens" id="Tokenid"></select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Tokens to Buy</label>
                <input class="form-control form-control-sm" type="number" asp-for="@Model.Tokenamount" id="Tokenamountid" />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
    <button class="btn btn-sm btn-info font-weight-bold" type="button" id="savesoftwaretokenpurchaseid" onclick="savesoftwaretokenpurchasedata();">
        <span id="buttonText">SAVE</span><span id="processingSpinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
    </button>
</div>
