
@{
    ViewData["Title"] = "Shareslist";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card card-outline card-info">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-10">
                        <h6 class="font-weight-bold text-sm card-title">Shares</h6>
                    </div>
                    <div class="col-sm-2">
                        <a asp-action="Buyshare" asp-controller="Staff" asp-route-code="@Guid.NewGuid()" asp-route-Userid="0" asp-area="" id="CAN_ADD_STAFF" style="display:none;" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main float-right" data-target="#Uttambsolutionsmodal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Buy Shares</a>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-bordered table-striped compact table-sm table-responsive-sm text-nowrap nowrap" id="AllsystemDataTables">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
            let isValid = true;
            ﻿function savesoftwaretokenpurchasedata() {
                isValid = true;
                document.getElementById("savesoftwaretokenpurchaseid").disabled = true;
                document.getElementById("processingSpinner").style.display = "inline-block";
                document.getElementById("buttonText").innerText = "Processing...";
                if ($('#Tokenid').val() === "" || $('#Tokenid').val() === "0") {
                    $('#Tokenid').addClass('is-invalid');  // Add the 'is-invalid' class using jQuery
                    isValid = false;
                } else {
                    $('#Tokenid').removeClass('is-invalid');  // Remove the 'is-invalid' class using jQuery
                }
                if ($('#Tokenamountid').val() === "" || $('#Tokenamountid').val() === "0") {
                    $('#Tokenamountid').addClass('is-invalid');  // Add the 'is-invalid' class using jQuery
                    isValid = false;
                } else {
                    $('#Tokenamountid').removeClass('is-invalid');  // Remove the 'is-invalid' class using jQuery
                }

                // If the form is not valid, exit the function
                if (!isValid) {
                    document.getElementById("savesoftwaretokenpurchaseid").disabled = false;
                    document.getElementById("processingSpinner").style.display = "none";
                    document.getElementById("buttonText").innerText = "SAVE";
                    return;
                }

                var uil1 = {
                    Tokenpurchaseid: $('#Tokenpurchaseid').val(), Tokenid: $('#Tokenid').val(),Tokenamount: $('#Tokenamountid').val(),Userid: $('#systemLoggedinedUserid').val(),Purchasedate: new Date(new Date().toString().split('GMT')[0] + ' UTC').toISOString().split('.')[0].replace('T', ' ')
                };
                $.post("/Staff/Registersoftwaretokenpurchase", uil1, function (response) {
                    if (response.RespStatus == 0) {
                        Swal.fire('Saved!', response.RespMessage, 'success')
                        setTimeout(function () { location.reload(); }, 1000);
                    } else if (response.RespStatus == 1) {
                        Swal.fire("Token details not saved", response.RespMessage, "warning");
                    }
                    else {
                        Swal.fire("Oops! Something Went Wrong", "Database Error has occured. Kindly Contact our support team.", "error");
                    }
                    document.getElementById("savesoftwaretokenpurchaseid").disabled = false;
                    document.getElementById("processingSpinner").style.display = "none";
                    document.getElementById("buttonText").innerText = "SAVE";
                });
            }
    </script>
}
