
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 my-auto">
                <h6 class="custom-text-color">About Us</h6>
            </div>
            <div class="col-md-8 my-auto">
                <h6 class="custom-text-color float-end">
                    Home/About Us
                </h6>
            </div>
        </div>
    </div>
</section>

<section class="section border-bottom">
    <div class="container">
        <h5 class="main-heading">Our Company</h5>
        <div class="underline"></div>
        <p>
            Uttamb Solutions is a premier provider of innovative technology solutions specifically tailored for the oil and gas industry. With a specialization in fuel card systems and forecourt management, Uttamb Solutions offers cutting-edge products designed to optimize efficiency, bolster security, and drive profitability for businesses operating in the fuel retail sector.
            <br /><br />
            Our flagship solution, Everest, stands at the forefront of our offerings, seamlessly integrating to provide comprehensive management of fuel dispensing and transaction processing. This robust platform not only ensures smooth operations but also enhances decision-making capabilities through advanced analytics and reporting tools.
            <br /><br />
            At Uttamb Solutions, we are committed to delivering bespoke technology solutions that cater to the unique needs of our clients. Our expertise spans customized online payment integrations, responsive app design and development, and scalable web solutions, all backed by rigorous testing, stringent security measures, and continuous support.
            <br /><br />
            Whether you are looking to streamline operations, expand your digital footprint, or enhance customer engagement, Uttamb Solutions is your trusted partner in driving technological innovation and business success in the fuel retail industry.
        </p>
    </div>
</section>

@await Html.PartialAsync("~/Views/Shared/Vmc.cshtml")
