<section class="section bg-c-light border-top">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4 text-center">
                <h3 class="main-heading">Vision, Mission and Values</h3>
                <div class="underline mx-auto"></div>
            </div>
            <div class="col-12 col-md-4 text-center">
                <h6 class="fw-bold">Our Vision</h6>
                <p>Optimize fuel management and forecourt operations with cutting-edge technology, ensuring operational excellence and superior customer satisfaction.</p>
            </div>
            <div class="col-12 col-md-4 text-center">
                <h6 class="fw-bold">Our Mission</h6>
                <p>To revolutionize the fuel retail industry with smart, efficient, and secure technological solutions</p>
            </div>
            <div class="col-12 col-md-4 text-center">
                <h6 class="fw-bold">Our Values</h6>
                <ul class="list-unstyled">
                    <li>Customer Focus</li>
                    <li>Sustainability</li>
                    <li>Innovation</li>
                    <li>Reliability</li>
                    <li>Integrity</li>
                </ul>
            </div>
        </div>
    </div>
</section>