
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layoutauth.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card card-outline card-info">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-10">
                        <h6 class="font-weight-bold text-sm card-title">Staffs</h6>
                    </div>
                    <div class="col-sm-2">
                        <a asp-action="Addcenter" asp-controller="Collection" asp-route-code="@Guid.NewGuid()" asp-route-Userid="0" asp-area="" id="CAN_ADD_STAFF" style="display:none;" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main float-right" data-target="#Uttambsolutionsmodal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Add Center</a>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-bordered table-striped compact table-sm table-responsive-sm text-nowrap nowrap" id="AllsystemDataTables">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
            ﻿function savesystemstaffdata() {
            document.getElementById("savesystemstaffid").disabled = true;
            document.getElementById("processingSpinner").style.display = "inline-block";
            document.getElementById("buttonText").innerText = "Processing...";

            if ($('#FirstnameId').val() == '') {
                Swal.fire("Staff Detail Not Created", 'Firstname is Required', "warning");
                document.getElementById("savesystemstaffid").disabled = false;
                document.getElementById("processingSpinner").style.display = "none";
                document.getElementById("buttonText").innerText = "SAVE";
                return;
            }
            if ($('#LastnameId').val() == '') {
                Swal.fire("Staff Detail Not Created", 'Lastname is Required', "warning");
                document.getElementById("savesystemstaffid").disabled = false;
                document.getElementById("processingSpinner").style.display = "none";
                document.getElementById("buttonText").innerText = "SAVE";
                return;
            }
            if ($('#EmailAddressId').val() == '') {
                Swal.fire("Staff Detail Not Created", 'Emailaddress is Required', "warning");
                document.getElementById("savesystemstaffid").disabled = false;
                document.getElementById("processingSpinner").style.display = "none";
                document.getElementById("buttonText").innerText = "SAVE";
                return;
            }
            if ($('#PhonenumberId').val() == '') {
                Swal.fire("Staff Detail Not Created", 'Phonenumber is Required', "warning");
                document.getElementById("savesystemstaffid").disabled = false;
                document.getElementById("processingSpinner").style.display = "none";
                document.getElementById("buttonText").innerText = "SAVE";
                return;
            }
            if ($('#StaffRoleId').val() == '' || $('#StaffRoleId').val() == 0) {
                Swal.fire("Staff Detail Not Created", 'Role is Required', "warning");
                document.getElementById("savesystemstaffid").disabled = false;
                document.getElementById("processingSpinner").style.display = "none";
                document.getElementById("buttonText").innerText = "SAVE";
                return;
            }
            var uil = {
                Userid: $('#UserId').val(),
                Firstname: $('#FirstnameId').val(),
                Lastname: $('#LastnameId').val(),
                Emailaddress: $('#EmailAddressId').val(),
                Phonenumber: $('#PhonenumberId').val(),
                Idnumber: $('#IdnumberId').val(),
                Genderid: $('#Genderid').val(),
                Maritalstatusid: $('#Maritalstatusid').val(),
                Roleid: $('#StaffRoleId').val(),
                Parentid: 0,
                Updateprofile: true,
                Createdby: $('#UserId').val(),
                Modifiedby: $('#UserId').val(),
                Lastlogin: new Date().toISOString().slice(0, 19).replace('T', ' '),
                Datecreated: new Date().toISOString().slice(0, 19).replace('T', ' '),
                Datemodified: new Date().toISOString().slice(0, 19).replace('T', ' ')
            };
            $.post("/Staff/Addsystemstaffdata", uil, function (response) {
                if (response.RespStatus == 0) {
                    Swal.fire("Staff Detail", "Staff has been added and email sent.", "success");
                    setTimeout(function () { location.reload(); }, 500);
                } else {
                    Swal.fire("Staff Detail Not Created", response.RespMessage, "error");
                }
                document.getElementById("savesystemstaffid").disabled = false;
                document.getElementById("processingSpinner").style.display = "none";
                document.getElementById("buttonText").innerText = "SAVE";
            });
        }
    </script>
}
